

.home_products {

    h1{
        margin-bottom: 20px;
        text-transform: capitalize;
    }

}
.home_category_container{
    height: 450px;
    background-color: white;
    padding:20px;
    overflow: hidden;
    margin:30px auto;
}
.home_category_products {
    display: flex;
    overflow-x:auto;
    overflow-y: hidden;
    
    .goodsCard {
        min-width: 250px;
        
        margin-right: 20px;
       
        .image_container {
           
            height: 200px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .goods_content {
            padding:10px;
            h3 {
                color:gray;
                margin-bottom: 10px;
            }
            p {
                font-size: 1.5rem;
                color:$main_color;
            }
            
            
        }

        button {
            margin-top: 10px;
            padding:4px 20px;
            outline:none;
            border:none;
            border-radius: 6px;
            cursor: pointer;
            background-color: $main_color;
            color:white;

            &:hover {
                background-color: white;
                color:$main_color;
            }
        }
       
    }
    // card end
}