.navbar {
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 200000;
    background-color: transparent;
    
    @media screen and (min-width: 768px) {

    }
}
.navbar_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav_links {
        display: none;
        @media screen and (min-width: 768px) {
            display:flex;

            li{
                list-style: none;
                margin-right: 20px;
            }
            a {
                text-decoration: none;
                color:$main_color;
                
                text-transform: capitalize;
                font-size: 1.2rem;

            }
        }
    }

    .navbar-right {
        font-size: 1.3rem;
        display: flex;
        
        .navbar_menu {
            border:none;
            outline:none;
            font-size: 1.3rem;
            background-color: transparent;
            margin-left: 5px;
        }
        .cart{
            margin-right: 10px;
            display: flex;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 17px;
                height: 17px;
                border-radius: 50%;
                background-color: $main_color;
                font-size: 1rem;
                color: white;
                
                
            }
        }
    }
    
}